header.header
    .header__wrapper
        .header__column
            a(href=router.home)
                i.fas.fa-book-medical
        .header__column
            form(action=router.search, method="get")
                input(type="text", placeholder="게시글 찾기...", name="search_query")
        .header__column
            ul
                if !user.isLoggedin
                    li
                        a(href=router.join) 회원가입
                    li
                        a(href=router.login) 로그인
                else
                    li
                        a(href=`/board${router.boardUpload}`) 업로드
                    li
                        a(href=router.userDetail) 내 계정
                    li
                        a(href=router.logout) 로그아웃
